.logo {
  line-height: 90px;
  padding-left: 20px;
  background-color: #001529;
}
.logo img {
  height: 35px;
}
.logo h1 {
  color: #fff;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 10px;
}
