.header .header-top {
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  text-align: right;
}
.header .header-top a {
  margin-left: 40px;
}
.header .breadcrumb {
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  border-top: 1px solid #1DA57A;
}
.header .breadcrumb .breadcrumb-title {
  text-align: center;
}
.header .breadcrumb .weather {
  text-align: right;
}
.header .breadcrumb .weather .date {
  margin-right: 10px;
  vertical-align: middle;
}
.header .breadcrumb .weather .weather-img img {
  height: 15px;
}
.header .breadcrumb .weather .weather-details {
  margin-left: 5px;
  vertical-align: middle;
}
