/** 常用色值 **/
/** 常用字体大小 **/
.container .nav-left {
  min-width: 180px;
  /* 100vh相当于100% */
  height: calc(100vh);
  background-color: #001529;
}
.container .main {
  height: calc(100vh);
  background-color: #f1f3f5;
}
.container .content {
  position: relative;
  padding: 20px;
}
